{% extends "sitemenus/index.html" %}

{% block edit %}

    <h2><a href="/sitemenus/">Back</a></h2>
    <h1>{{ current_site.name }} Menu Tree</h1>
    
    <div id="menu-edit">
        
    </div>
    
    <form id="submitform" method="POST">
        {% csrf_token %}
        <input type="hidden" name="menudata" method="POST" action="" />
        <input type="submit" name="submit" value="Save Changes" /> 
    </form>
    
    <div id="json" class="hidden">
        {{ menu|safe }}
    </div>
        
{% endblock %}
