{% extends "sitemenus/index.html" %}

{% block edit %}

    {% if success %}
    <h1 class="success">menu updated</h1>
    {% endif %}
    
    <div id="menu-edit">
        
    </div>
    
    <form id="submitform" method="POST">
        {% csrf_token %}
        <input type="hidden" name="menudata" method="POST" action="" />
        <input type="submit" name="submit" value="Save Changes" /> 
    </form>
    
    <div id="json" class="hidden">
        {{ menu|safe }}
    </div>
        
{% endblock %}
